[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mcap = "*"
protobuf = "*"
typing_extensions = "*"

[dev-packages]
black = "*"
build = "*"
pytest = "*"
pyright = "*"

[requires]
python_version = "3"
